<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.seclass.groupimplementation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupImplementation">
        <activity android:name=".controller.event.EventUIActivity"></activity>
        <activity android:name=".controller.event.DisplayEventsActivity"></activity>
        <activity android:name=".controller.event.ViewSelectedEventDetailsActivity"></activity>
        <activity android:name=".controller.studio.StudioUIActivity"></activity>
        <activity android:name=".controller.studio.DisplayStudiosActivity"></activity>
        <activity android:name=".controller.studio.ViewSelectedStudioDetailsActivity"></activity>
        <activity android:name=".controller.demogroup.DemoGroupUIActivity"></activity>
        <activity android:name=".controller.demogroup.DemoDetailsActivity"></activity>
        <activity android:name=".controller.demogroup.WatchEventActivity"></activity>
        <activity android:name=".controller.demogroup.DemoDisplayActivity"></activity>
        <activity android:name=".controller.offerevent.OfferEventUIActivity"></activity>
        <activity android:name=".controller.stream.StreamUpdate"></activity>
        <activity android:name=".controller.stream.StreamDisplay"></activity>
        <activity android:name=".controller.stream.StreamCreate"></activity>
        <activity android:name=".controller.stream.StreamUIActivity"></activity>
        <activity android:name=".TimeDetails"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>